<ion-header>
  <ion-toolbar>

      <ion-buttons slot="start" (click)="Cliente()">
          <ion-button color="primary">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
         
        </ion-buttons>
    <ion-title>Clientes</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
    <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input [(ngModel)]="nome"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Telefone</ion-label>
          <ion-input type="tel" [(ngModel)]="telefone"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="email"></ion-input>
          </ion-item>

          <ion-button *ngIf="!id" color="success" expand="block" (click)="cadastrar()">
              Salvar
            </ion-button>

            <ion-button *ngIf="id>=1" color="primary" expand="block" (click)="editar()">
              Editar
            </ion-button>

</ion-content>
